{{ ansible_managed | comment }}

SECRET_KEY = "{{ django_secret_key.stdout_lines | first }}"

DEBUG = {{ thunes_debug }}

INTERNAL_IPS = []

EMAIL_HOST = ''
SERVER_EMAIL = ''
DEFAULT_FROM_EMAIL = ''
EMAIL_PORT = 25

OPTIONAL_APPS = []

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ thunes_db_name }}',
        'USER': '{{ thunes_db_user }}',
	'PASSWORD': '{{ thunes_db_password }}',
        'HOST': '{{ thunes_db_ip }}',
        'PORT': '5432',
    }
}
