{{ ansible_managed | comment }}

SECRET_KEY = "{{ thunes.secret_key }}"

DEBUG = {{ thunes.debug }}

INTERNAL_IPS = []

EMAIL_HOST = ''
SERVER_EMAIL = ''
DEFAULT_FROM_EMAIL = ''
EMAIL_PORT = 25

OPTIONAL_APPS = []

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ thunes.db_name }}',
        'USER': '{{ thunes.db_user }}',
	'PASSWORD': '{{ thunes.db_password }}',
        'HOST': '{{ thunes.db_ip }}',
        'PORT': '5432',
    }
}

CACHES = {
    'default': {
        'BACKEND':
        'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '127.0.0.1:11211',
    }
}
