{% extends "base.j2" %}
{% set serial = 2021062101 %}

{% block MX %}
@				IN MX	100	mx3.mail.ovh.net.
@				IN MX	5	mx2.mail.ovh.net.
@				IN MX	1	mx1.mail.ovh.net.
crans				IN MX	1	redirect.ovh.net.
henstai				IN MX	1	redirect.ovh.net.
{% endblock %}

{% block TXT %}
@			600	IN TXT	"v=spf1 include:mx.ovh.com ~all"
president.at.crans	600	IN TXT	"paulon@crans.org"
president.e.at.henstai	600	IN TXT	"genital@prolaps.us"
www			60	IN TXT	"2|http://satellisgp.cluster021.hosting.ovh.net/"
{% endblock %}

{% block SRV %}
_imaps._tcp			IN SRV	0 0 993 ssl0.ovh.net.
_autodiscover._tcp		IN SRV	0 0 443 mailconfig.ovh.net.
_submission._tcp		IN SRV	0 0 465 ssl0.ovh.net.
{% endblock %}


{% block zone %}
autodiscover			IN CNAME  mailconfig.ovh.net.
autoconfig			IN CNAME  mailconfig.ovh.net.
imap				IN CNAME  ssl0.ovh.net.
liste-ca			IN CNAME  hilbert.satellist.fr.
mail				IN CNAME  ssl0.ovh.net.
pop3				IN CNAME  ssl0.ovh.net.
smtp				IN CNAME  ssl0.ovh.net.

www				IN A	  213.186.33.5
{% endblock %}
