{% extends "base.j2" %}

{% block zone %}
gabidulin			IN CNAME  gabidulin.servens.org.


;; IP over DNS

t			10	IN NS	ns.t

hack			300	IN NS	avion

ns.hack				IN A	185.230.78.66
ns.t				IN A	51.15.204.106
avion				IN A	185.230.78.66

dns				IN A	51.15.204.106
{% endblock %}
