// {{ ansible_managed }}

include "/etc/bind/zones.rfc1918";


{% for z in dns_zones %}
{% set zname = z.name.split('.')[0] %}
{% if z.type == "master" and z._acme %}
// Let's Encrypt Challenge DNS-01 keys (TSIG)
key "certbot_challenge_{{zname}}" {
    algorithm hmac-sha512;
    secret "{{ lookup('vars', 'certbot_challenge_' + zname) }}";
};
{% endif %}

zone "{{z.name}}" IN {
  {% if z.type == "master" -%}
  type master;
  // Zone Files are in /var/cache/bind/
  file "db.{{z.name}}";

  forwarders {
    {% for f in z.forwarders -%}
    {{f}};
    {% endfor -%}
  };

  allow-transfer {
    {% for f in z.transfer -%}
    {{f}};
    {% endfor -%}
  };

  notify yes;

  {% if z._acme %}
  update-policy {
     grant certbot_challenge_{{zname}} name _acme-challenge.{{z.name}}. TXT;
  };
  {% endif -%}
  {% endif -%}

  {% if z.type == "slave" -%}
  type slave;
  file "bak.{{z.name}}";

  masters {
    {% for f in z.masters -%}
    {{f}};
    {% endfor -%}
  };

  allow-transfer { "none"; };
  notify no;
  {% endif -%}
};

{% endfor %}
